# Ingest the taxi data for homework 1

## Import the necessary packages

In [3]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

## Load environment variables from `.env` file

In [5]:
load_dotenv()

user = os.getenv("USER")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")
port = os.getenv("PORT")
db = os.getenv("DB")
url_green_taxi_trips = os.getenv("URL_GREEN_TAXI_TRIPS")
url_taxi_zones = os.getenv("URL_TAXI_ZONES")

## Ingest Green taxi trips data

In [6]:
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{db}")

In [16]:
df_iter = pd.read_csv(url_green_taxi_trips, iterator=True, chunksize=100000)

In [17]:
df_sample = next(df_iter)

In [18]:
df_sample.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [19]:
df_sample.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [21]:
df_sample.lpep_pickup_datetime = pd.to_datetime(df_sample.lpep_pickup_datetime)
df_sample.lpep_dropoff_datetime = pd.to_datetime(df_sample.lpep_dropoff_datetime)