# Ingest the taxi data for homework 1

## Import the necessary packages

In [3]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

## Load environment variables from `.env` file

In [4]:
load_dotenv()

user = os.getenv("USER")
password = os.getenv("PASSWORD")
port = os.getenv("PORT")
db = os.getenv("DB")

## Ingest taxi zones data

In [5]:
engine = create_engine(f"postgresql://{user}:{password}@localhost:{port}/{db}")

In [7]:
df = pd.read_csv(
    "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv",
)

In [8]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df.to_sql("taxi_zones", engine, if_exists="append")

265